%img{:src => "#{@movie_hash["Poster"]}" }

%p
  %strong Title:
  = @movie_hash["Title"]
%p
  %strong Year:
  = @movie_hash["Year"]
%p
  %strong Rated:
  = @movie_hash["Rated"]
%p
  %strong Actors:
  = @movie_hash["Actors"]
%p
  %strong Writer:
  = @movie_hash["Writer"]
%p
  %strong Plot:
  = @movie_hash["Plot"]
%p
  %strong Rating:
  = @movie_hash["imdbRating"]