= render( :partial => 'shared/errors', :locals => { :xyz => @user } )
.row
  .large-8.columns.large-centered
    = form_for @user, :url => subscribers_path, :remote => true do |f|
      = f.label :username
      = f.text_field :username
      = f.label :email
      = f.text_field :email
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = f.submit nil, :class => 'button success'
      = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button right')