- @background = @song.artist.background
%h2
  = @song.name
  by
  = @song.artist.name if @song.artist

.row
  .new-row
    .four.columns
      .row-crop
        = link_to( image_tag(@song.artist ? @song.artist.image : 'http://placehold.it/400x300' ), @song.artist)
      %p= link_to(@song.artist.name, @song.artist) if @song.artist
    .four.columns
      .row-crop
        = link_to( image_tag(@song.album ? @song.album.image : 'http://placehold.it/400x300' ), @song.album)
      %p= link_to(@song.album.name, @song.album) if @song.album
    .four.columns
      .genre
        %span
          - @song.genres.each do |genre|
            = link_to(genre.name, genre)
            %br
.row
  %fieldset
    %legend= @song.name
    = render :partial => 'shared/player'

= render :partial => 'form' if is_admin