%h1 Advanced jQuery
= form_tag '#' do
  %p
    = label_tag "First"
    = text_field_tag "First"
  %p
    = label_tag "Last"
    = text_field_tag "Last"
  %p
    = label_tag "Age"
    = text_field_tag "Age"
  = submit_tag "Submit"

#text

.colors
  #x
  #y

.one#a 1a
.one#b 1b
.one#c 1c
.two#a 2a
.two#b 2b
.list
  %ul
    %li Text
    %li More Text